@import 'src/assets/styles/partials/variables';

.StandardInput {
  &__Label {
    padding: 0 1.5rem;
  }

  &__Input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-radius: $border-radius;
    box-shadow: none;
    outline: none;
    border-style: initial;
    border: 1px solid $border-color;
  }

  &__Icon {
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
